*{box-sizing: border-box;}
body {
    font-family: 'Open Sans', Arial, sans-serif;
}
/* Hintergrundfarben */
    /* primary */
    .primary--color{background-color: #e98a17;}
    .primary--color--10{background-color: #FFE7CA;}
    .primary--color--20{background-color: #F2CFA5;}
    /* primary */

    /* secondary */
    .secondary--color{background-color: #5a8de2;}
    .secondary--color--10{background-color: blue;}
    .secondary--color--20{background-color: blue;}
    /* secondary */

    .white--color{background-color: #fff;}
    .black--color{background-color: #000; !important}
    /* standard */
/* Hintergrundfarben */

/* Textfarben */    
    /* primary */
    .primary--text--color {color: #e98a17; }
    .primary--text--color--10 {color: #FFE7CA;}
    .primary--text--color--20 {color: #F2CFA5;}
    /* primary */

    /* secondary */
    .secondary--text--color {color: #5a8de2; }
    /* secondary */

    /* tertiary  */
    .purple--text--color{color:purple}
    /* standard */

    /* standard */
    .white--text--color{color: #fff;}
    .black--text--color{color: #000;}
    .black--text--color--90{color:#222}
    .black--text--color--80{color:#333}
    .black--text--color--60{color:#999}
    /* standard */
/* Textfarben */

/* Bilder */
main img {width: 100%; height: auto;}
main figure{overflow: hidden;}
main figure.articel--150{max-height:150px;}
main figure.articel--300{max-height: 300px;}
.picture-calendar {height: 250px}

.picture-left {float:left;  padding: 15px 20px 10px 15px;}
.picture-right {float:right;  padding: 15px 20px 10px 15px;}
.picture-corner{border-radius: 15px;}
figcaption {
    padding: 10px;
    text-align: center;
}
/* Bilder */
/* Überschriften */
h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
h2 {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h4 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
h5 {
    margin-top: 0.25em;
    margin-bottom: 0.3em;
}
h6 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
/* Überschriften */
/* Schriftgrößen */
.text--size-1-5x {font-size:1,5em;}
.text--size--2x {font-size: 2em;}
.text--size--2-5 {font-size:2,5em;}
.fa-big{font-size: 1.7em !important;}
/* Text */


.main-text {
    line-height: 1.6;
    margin-bottom: 1em;
    font-weight: lighter;
    /*margin-right: 2em;*/
}
.quote {
    display: block;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-left: solid #444 0.2em;
}
main a {
    color: #e98a17;
    font-weight: bold;
    text-decoration: underline;
}
main a:hover{color: #5a8de2 !important;font-weight: 600}
/* Text */

.pull-right{float: right;}
.pull-left{float: left;}


@media (min-width: 1000px){
    .desktop-center{width: 1000px; margin: auto;}
}
@media (max-width: 500px){
    footer, section{padding-left: 15px;padding-right: 15px;}
    p{text-align: justify;}
    .hide-xs {display: none; }
}

