/* helperclass */
nav .dropbtn, .mobile-brand{display: none;}
@media (min-width: 0px) and (max-width: 500px){
    header{margin-bottom: 1em;}
    nav ul li {list-style: none;}
    /* Brand */
    header .mobile-brand{
        display: block;
        width: 60%; 
        height: 50px; 
        float: right; 
        padding-right: 1em; 
        box-sizing: border-box;}
    header figure{height: inherit;}
    header img{    
        height: auto;
        max-height: 100%;
        max-width: 100%;
        top: 50%;
        right: -100%;
        position: relative;
        -ms-transform: translate(-100%, -50%);
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);}
    /* Brand */
    
    /* dropbox-div */
    .dropdown {position: relative; display: inline !important;}
    .dropdown:hover .dropbtn {opacity: 0.8;}
    /* dropbox-div */
    
    /* Dropdownbutton */
    .dropbtn {
        display: inline !important;
        padding: 9px;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;
    }
    .dropbtn span, .dropbtn span::before, .dropbtn span::after{height: 3px; width: 30px;}
        .dropbtn span{
        -webkit-transition: -webkit-transform 0.2s ease-in;
        position: relative;
        display: block;
        content: '';
        background-color: white;
        }
    .dropbtn span::before, .dropbtn span::after{
        position: absolute;
        display: block;
        content: '';
        background-color: inherit;
        }
    .dropbtn span::before{top: -8px;}
    .dropbtn span::after{top: 8px;}
    
    .dropdown:hover .dropbtn span {
        transform: rotate(45deg) !important;
        top: 0px;
    }
    .dropdown:hover .dropbtn span::before, .dropdown:hover .dropbtn span::after {
        transform:  rotate(90deg) !important;
        top: 0px;
    }
    /* Dropdownbutton */
    
    /* Dropdowncontent */
    .dropdown-content {
        max-height: 0px;
        transition: max-height 0.8s ease-out;
        overflow: hidden;
        background-color: #eee;
        min-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    }
    .dropdown-content .level-1 li a {
      /*  color: red;*/
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: thin solid #ccc;
    }
     .dropdown-content .level-2 li a {
        font-size: 0.8em;
        padding: 8px 16px;
        margin-left: 20px;
    }

    .dropdown-content a:hover {background-color: #aaa; color: black}

    .dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
        max-height: 1000px;
        transition: max-height 1s ease-in;
    }
    /* Dropdowncontent */
}
