@media print {
    nav {display: none;}
    footer {display: none;}
    img {display: none;}
    .no_print {display: none;}
    .event a {display: none;}
    .event-teaser {display: none;}
    .no_print {display: none;}
    
    /*Kalender print*/
    .event-box {
        max-height: 100px;
        margin: 1em;}
    .picture-calendar {display: none;}
    .location-toggle {
        display: none;
    }
}