@media print {
    nav {display: none;}
    footer {display: none;}
    img {display: none;}
    .no_print {display: none;}
    .event a {display: none;}
    .event-teaser {display: none;}
    .no_print {display: none;}
    
    /*Kalender print*/
    .event-box {
        height: 250px;
        margin: 1em;}
    .picture-calendar {display: none;}
    .location-toggle {display: none;}
    .form-group {display: none;}
    /*Kalender print*/
    
    /*FAQ print*/
    .content {display:block; margin: 3em; height: 250px;}
    .radio {display: none;}
    
    /*FAQ print*/
}