.event, .event .event-date, .event .event-location {box-sizing: border-box;}
.event-box {
    width: 100%;
    min-height: 40px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}
@media (min-width: 501px){.event-box{border-radius: 4px;}}

/* Event-kopf-location */
.event .event-header{
    height: 60px; 
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
.event .event-header .event-date, 
.event .event-header .event-location{
    float: left; 
    height: inherit; 
    padding-top: 0.65em; 
    position: relative;
}
.event .event-date {
    width: 30%;
    border-top-left-radius: inherit;
    text-align: center;
} 
.event .event-location {
    width: 70%;
    border-top-right-radius: inherit;
    padding-left: 1em;
}
.event .event-header .top-line, 
.event .event-header .bottom-line {line-height: 1.1em;}
.event .event-header .event-date .top-line, 
.event .event-header .event-location .top-line {
    font-weight: 500;
    font-size: 1.4em;
}
.event .event-header .event-date .bottom-line, 
.event .event-header .event-location .bottom-line {
    font-weight: lighter;
    font-size: 0.8em;
    letter-spacing: 0.6em;
}
.event .event-header .event-date .bottom-line{padding-left: 0.6em;}   

.event .event-header .location-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    padding: 9px;
    cursor: pointer;
}
/* Event-kopf-location */
.event .event-content:before{content: ''; clear: both; display: block;}
/* Event-content*/
.event .event-content {padding: 1em 1.2em 0 1.2em;}
.event p{margin-bottom: 1em;}
.event figure{-webkit-box-shadow:0px 4px 8px 0px rgba(0,0,0,0.5);-moz-box-shadow:0px 4px 8px 0px rgba(0,0,0,0.5);box-shadow:0px 4px 8px 0px rgba(0,0,0,0.5);}
.event figure.pull-right {margin:0 0 0.8em 0.8em;}
.event figure.pull-left {margin:0 0.8em 0.8em 0;}
.event figure{overflow: hidden; width: 10em; height: 10em;}
.event img{max-height: 100%}
/* Hack für breitesbild */
@media (min-width: 501px) and (max-width: 800px), (min-width: 0px) and (max-width: 399px) {.event figure{width: 100%;}}
/* Hack für breitesbild */
.event a{text-decoration: underline;}
.event a:hover{font-weight: 600}
/* Event-content*/

/* Event-footer */
.event .event-footer {
    margin-bottom: 1em;
    padding-right: 1em;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: thin #ccc solid;
}

.event .footer-link-list li{float: right; padding: 0.5em 1em;}
.event .footer-link-list:after {content: ''; clear: both; display: block}
.event .footer-link-list li a i:hover{color: black; font-size: 1.2em}
/* Event-footer */

